body{
    margin: 0;
    background: linear-gradient(to bottom, #85A4FF, #FCD6A9);
}
.container{
    display:flex;
    height:100vh;
    padding: 10px;
}
        
.container>button{
    width: 200px;
    margin: auto;
    border:none;
    padding: 20px;
    font-size: 40px;
    outline: none; /* Pour le cadre bleu qui vient autour du bouton */
    box-shadow: 4px 4px 0px 3px #E5E5E5;
    background-color:#F8F8F8;
    border-radius:3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #E0E0E0;
    transition: 0.2s;
}

.container>button:hover{
     background: #f0f0f0;
}
.container>button:active{
    transform: translate(2px,4px);
    box-shadow: 0 0 0
}
    
footer{
    display: flex; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes grow{
                
    25%{transform: scaleY(10)}
    50%{transform: scaleY(1)}
}

footer>div{
    background: #E5E5E5;
    box-shadow: 3px 2px 0px 3px #D7D7D7;
    height: 10px; 
    width: 100%;
    margin: 0 2% 0 2%;
    animation: grow 3s infinite ease-in-out;
    transform-origin: 50% 100%; 
}

footer>div:nth-child(2){animation-delay:0.1s}
footer>div:nth-child(3){animation-delay:0.2s}
footer>div:nth-child(4){animation-delay:0.3s}
footer>div:nth-child(5){animation-delay:0.4s}
footer>div:nth-child(6){animation-delay:0.5s}
footer>div:nth-child(7){animation-delay:0.6s}
footer>div:nth-child(8){animation-delay:0.7s}
footer>div:nth-child(9){animation-delay:0.8s}
footer>div:nth-child(10){animation-delay:0.9s}


.thing{
    position: absolute;
    color: #FFEDA6;
    font-size: 40px;
}











